  body {
    background-color: #c7d8ed;
    font-family: verdana;
  }

  div {
    width: 500px;
    background-color: white;
    padding: 5px;
  }

  h1 {
    margin-top: 0px;
    background-color: #acc4ce;
    color: white;

    text-align: center;
    font-family: verdana;
    font-size: 20px;
    line-height: 1.4em;
    text-shadow: 2px 2px 6px #878787;
    text-transform: uppercase;
 }

  span {
    padding-left:5px;
    color: #395075;
    font-family: arial;
    font-style: italic;
    letter-spacing: 10px;
  }

  p {
    text-indent: 15px;
    color: grey;
    font-family: sans-serif;
    font-size: 14px;
  }
