  body {
    background-color: #c7d8ed;
    font-family: verdana;
  }

  .list1 {
    list-style-type: square;
  }

  .list2 {
    list-style-type: none;
    font-family: serif;
    color: #116493;
  }

  .list2 li {
    display: inline-block;
  }

   #pkt {

   }

   a {
     padding: 8px;
     text-decoration: none;
   }
