  body {
    background-color: #c7d8ed;
    font-family: verdana;
  }

  form {
    color: #434547;
    width: 65%;
  }

  .form1 input, textarea {
    color: #535559;
    font-size: 14px;
    font-family: monospace;
    width: 100%;
  }

  h2 {
    color: black;
  }

  .form2 label {
    color: black;
  }

  #submit {
    color: black;
    width: inherit;
  }
