@import url('https://fonts.googleapis.com/css?family=Play:700|Roboto|Ubuntu');
/* styles (KOLOR: #293a46) */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ------ NAVBAR ------ */
#logo {
  border-radius: 10px;
  padding-top: 4px;
  box-shadow: -2px 1px 10px 0px #106a94;
}

#logoimg {
  border-radius: 20px;
}

#whatwedo {
  /*border: 1px solid orange;*/
  height: 100vh;

}

.navbar {
  background-color: rgba(17, 24, 31, 1);
  border-radius: 3px;
  padding-left: 10vw;
}

.navbar li {
  border-radius: 10px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-collapse {
  /*margin-left: 20vw;*/
}

.navbar-nav a {
  font-size: 16px;
  font-family:'Play';
}

.active a {
  background-color: rgba(17, 24, 31, 1);
  background: -webkit-linear-gradient(top, rgba(37, 55, 68, 0.8) 0%, rgba(35, 76, 116, 0.9) 100%);
  background: linear-gradient(to bottom, rgba(37, 55, 68, 0.8) 0%, rgba(35, 76, 116, 0.9) 100%);
  border-radius: 5px;
}

/* ----- rows / containers ----- */
header.container {
  /*border: 1px dashed green;*/
  margin-top: 80px;
}

.row {
}

.col-sm-5 {
  /*border: 1px solid navy;*/
}

/* ---- header - left ---- */
#logoimg {
  transform: scale(0.9);
  margin-left: 30px;
  display: block;
  height: auto;
  max-width: 80%;
}

.contact {
  margin-top: 10px;
}

ul.contact li {
  font-family: 'Play', sans-serif;
  font-size: 16px;
  height: 60px;
  color: #293a46;
  display: flex;
  align-items: center;
}

ul.contact li:first-child {
  text-transform: uppercase;
  font-size: 16px;
  font-family: monospace, times;
  text-align: center;
}

ul.contact li a {
  text-decoration: none;
}

ul.contact li img {
  display: inline-block;
  height: 40px;
  padding-right: 20px;
}

/* ----- header-right / SLIDER ----- */
.carousel img {
  width: auto;
  max-height: 450px;
  margin: auto;
  display: block;
}

.carousel-inner img {
  min-width: 100%;
  height: 100%;
  border-radius: 5px;
}

.carousel-caption {
  display: none;
}

.carousel-caption h3 {
  font-family: 'Play';
}

.carousel-control.left, .carousel-control.right {
  border-radius: 8px;
}

/* ----- INFO ----- */



/* MEDIA QUERIES */
@media (min-width: 768px) {
  header.container {
    /*height: 80vh;*/
  }
  ul.contact li {
    font-size: 14px;
  }
  .carousel-caption {
    display: block;
  }
}

@media (min-width: 799px) {
  .carousel-holder {
    padding-right: 0;
  }
}

@media (min-width: 992px) {
  header.container {
    /*height: 65vh;*/
  }
  ul.contact li {
    font-size: 22px;
  }
}
