div.container {
  margin-top: 80px;
}

h1.page-header {
  font-family: 'Play';
}

.thumb {
  margin: 0 auto;
}

.img-wrapper {
  overflow: hidden;
  height: 250px;
}

.img-wrapper img {
}

@media only screen and (max-width: 568px){
  img {
    /*margin-top: 25px;*/
  }
}

@media only screen and (min-width: 576px) {
  .thumb {
    max-width: 70%;
  }
}
