  body {
    background-color: #c7d8ed;
    font-family: verdana;
    font-size: 16px;
  }

  .elm1 {
    color: navy;
  }

  .elm2 {
    color: orange;
  }

  #css {
    color: darkblue;
  }

  #jest {
    color: red;
  }

  #wspan {
    color: green;
  }

  #d1, #d2 {
    background-color: #DFA900;
    background-color: rgba(158, 76, 0, 0.25);
  }

  .div3 {
    background-color: hsla(263, 80%, 45%, 1);
  }

  .container {
    width: 200px;
    background-color: lime;
    border-radius: 8px;
  }

  #p1 {
    width: 50%;
    width: 9em;
    background-color: #00c3e6;

  }

  #p2 {
    width: 25%;
    width: 7em;
    background-color: #008fa8;
  }
