body {
  background-color: #c7d8ed;
  font-family: verdana;
}

.container {
  padding: 1em;
  display:flex;
  flex-direction: row;
}

.ad1ad2 {
  padding: 0.5em;
}
#green {
  color: darkgreen;
}

#violet {
  color: violet;
}

.brown {
  color: brown;
}

.block {
  margin: 0.5em 0.5em 2em 5em;
  padding:0.5em;
  border: dotted darkblue 2px;
}
