body {
  background-color: #c7d8ed;
  font-family: verdana;
}

.dcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box1 {
  width: 300px;
  height: 250px;
  margin: 0 6.5% 2% 5%;
  border: solid 2px red;
  border-radius: 10px;
  background-color: orange;
}

.box2 {
  width: 300px;
  height: 250px;
  margin-right: 5%;
  border: solid 2px red;
  border-radius: 10px;
  background: #ffb700;
  background: -webkit-linear-gradient(left, #ffb700 20%, #ffb700 30%, #eded03 100%);;
}

.pcontainer {
  margin-left: 5.2%;
  display: flex;
}

.par1 {
  width: 300px;
  height: inherit;
  margin-right: 3%;
  font-family: georgia;
  font-style: italic;
  font-weight: bold;
  color: gray;
}

.par2 {
  width: 300px;
  height: inherit;
  font-family: arial;
  font-size: 16px;
  font-weight: bold;
  color: green;
}
